version: "3.8"

services:
  backend:
    build: .
    container_name: todo-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000

  redis:
    image: redis
    ports:
      - 6379:6379

