version: "3.8"

services:
  mongo:
    image: mongo
    ports:
      - 3456:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=the_username
      - MONGO_INITDB_ROOT_PASSWORD=the_password

  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

  server:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - REDIS_URL=redis://redis:6379
      - MONGO_URL=mongodb://the_username:the_password@mongo:27017/todo-app?authSource=admin
    depends_on:
      - mongo
      - redis

volumes:
  redis-data:
